<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>회원 가입</h1>
    <hr>

    <form th:action="@{/user/signup}" method="post" modelAttribute="memberDto">
        <div>
            <input type="text" name="email" th:value="${memberDto.email}" placeholder="이메일을 입력해주세요">
            <span th:text="${valid_email}"></span>
        </div>

        <div>
            <input type="password" name="password" placeholder="비밀번호">
            <span th:text="${valid_password}"></span>
        </div>

        <button type="submit">가입하기</button>
    </form>
    <a th:href="@{'/'}">
        <button>메인으로</button>
    </a>
</body>
</html>